@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box
    
}
    #INFO{
        max-width: 1000%;
        background-color: rgb(0, 0, 0);
        text-align: center;
    }

    .body-tienda{
        background-color: #0f0f0f;
    }

    .body-home{
        background-color: #0f0f0f;
    }

    .body-support{
        background-color: #0f0f0f;
    }

    #INFO .grupo-1{
        width: 100%;
        max-width: 1200px;
        height: 200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 50px;
        padding: 45px 0px;
    }
    #INFO .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #INFO .grupo-1 .box figure img{
        width: 130px;
    }
    #INFO .grupo-1 .box h2{
        color: white;
        margin-bottom: 25px;
        font-size: 30px;
        padding-right: 12px;
    }
    #INFO .grupo-1 .box p{
        color: rgba(255, 255, 255, 0.76);
        margin-bottom: 10px;
    }
    #INFO .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: white;
        margin-right: 8px;
        background-color: rgb(109, 17, 97);
        text-align: center;
        transition: all 300ms ease;
    }
    #INFO .grupo-1 .red-social :hover{
        color: rgb(255, 0, 221);
    }
    #INFO .grupo-2{
        background-color: rgba(7, 7, 7, 0.945);
        padding: 10px 10px;
        text-align: center;
        color: rgb(235, 235, 235);
    }
    header{
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 5px 10%;
    }
    #header .logo{
        cursor: pointer;
    }
    #header .logo img{
        height: 80px;
        width: auto;
        transition: all 300ms;
    }
    #header .logo img:hover{
        transform: scale(1.2);
    }
    #header nav .lista{
        list-style: none;
    }
    #header nav .lista li{
        display: flex;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        
    }
    #header nav .lista li :hover{
        color: rgb(255, 255, 255);
        transition: all 250ms ease;
    }
    #header nav .lista a{
        font-size: 100%;
        color: rgb(216, 218, 219);
        text-decoration: none;
    }
    #header nav .lista a:hover{
        color: white;
    }
    #header .button button{
        font-weight: 90%;
        color: rgb(255, 255, 255);
        padding: 8px 20px;
        background: rgb(167, 1, 131);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 200ms;
    }
    #header .button :hover{
        color: rgb(255, 255, 255);
        background-color: rgb(255, 0, 200);
        transform: scale(1.1);
    }
    #header-principal{
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 5px 10%;
    }
    #header-principal .logo{
        cursor: pointer;
    }
    #header-principal .logo img{
        height: 80px;
        width: auto;
        transition: all 300ms;
    }
    #header-principal .logo img:hover{
        transform: scale(1.2);
    }
    #header-principal nav .lista{
        list-style: none;
    }
    #header-principal nav .lista li{
        display: flex;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        
    }
    #header-principal nav .lista li :hover{
        color: rgb(255, 255, 255);
        transition: all 250ms ease;
    }
    #header-principal nav .lista a{
        font-size: 100%;
        color: rgb(216, 218, 219);
        text-decoration: none;
    }
    #header-principal nav .lista a:hover{
        color: white;
    }
    #header-principal .button button{
        font-weight: 90%;
        color: rgb(255, 255, 255);
        padding: 8px 20px;
        background: rgb(167, 1, 131);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 200ms;
    }
    #header-principal .button :hover{
        color: rgb(255, 255, 255);
        background-color: rgb(255, 0, 200);
        transform: scale(1.1);
    }
    #body-login{
        background-color: #181818;
        height: 100vh;
        overflow: hidden;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 10px;
        transform: translate(-50%, -50%);
        width: 400px;
        background: white;
        border-radius: 10px;
    }
    .center h1{
        text-align: center;
        padding: 15px 0 15px 0;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .center form{
        padding: 10px 40px;
        box-sizing: border-box;
    }
    form .texto{
        position: relative;
        border-bottom: 2px solid black;
        margin: 30px 0;
    }
    .texto input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
    }
    .texto label{
        position: absolute;
        top: 50%;
        left: 10px;
        color: #9e9e9e;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
    }
    .texto span::before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #db00c9;
        transition: .5s;
    }
    .texto input:focus ~ label,
    .texto imput:focus ~ label{
        top: -5px;
        color: rgb(216, 21, 157);
    }
    .texto input:focus ~ span::before,
    .texto imput:focus ~ span::before{
        width: 100%;
    }
    .pass{
        margin: -5px 0 20px 5px;
        color: silver;
        cursor: pointer;
    }
    .pass:hover{
        text-decoration: underline;
        color: #585858;
    }
    .login{
        width: 100%;
        height: 40px;
        border: 1px solid black;
        background: #d400c3;
        border-radius: 25px;
        font-size: 18px;
        color: white;
        font-weight: 700;
        cursor: pointer;
        outline: none;
    }
    .login:hover{
        border-color: #db00c9;
        background-color: #e90577;
        transition: .5s;
    }
    .signup{
        margin: 30px 0;
        text-align: center;
        font-size: 15px;
        color: rgb(172, 168, 168);
    }
    .signup a{
        color: #99024d;
        text-decoration: none;
    }
    .signup a:hover{
        color: rgb(255, 0, 128);
    }
    .contacto{
        padding: 40px 15%;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        align-items: center;
        grid-gap: 6rem;
    }
    .imagen-contacto img{
        width: 100%;
        height: 370px;
        border-radius: 10px;
    }
    .contacto-form h1{
        font-size: 65px;
        color: white;
        margin-bottom: 40px;
    }
    .contacto-form h1 span{
        color: #ff00ea;
    }
    .contacto-form form{
        position: relative;
    }
    .contacto-form input, form textarea{
        width: 100%;
        padding:17px;
        border: none;
        outline: none;
        background: #272727;
        color: white;
        font-size: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
    }
    .contacto-form textarea{
        resize: none;
        height: 200px;
    }
    .destacado{
        padding: 140px;
    }
    .destacado .main-text{
        position: relative;
        z-index: 2;
        margin-bottom: 50px;
    }
    .destacado .main-text h1{
        font-size: 15px;
        font-weight: 400;
        color: rgb(255, 11, 214);
        margin-bottom: 40px;
    }
    .destacado .main-text h3{
        font-size: 100px;
        line-height: 1;
        color: white;
        margin: 0px 0px 45px;
        font-family: 'Alkatra', cursive;
    }
    .destacado .main-text h2{
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .destacado .main-text p{
        max-width: 100%;
        width: 400px;
        color: white;
        line-height: 1.8;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .destacado .main-text a{
        display: inline-block;
        text-decoration: none;
        color: #d100c0;
        background: rgb(224, 224, 224);
        border: 1px solid rgb(224, 224, 224);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 17px;
        line-height: 1.2;
        font-weight: 500;
    }
    .ctn{
        margin-left: 15px;
    }
    .destacado .main-text a:hover{
        transform: scale(1.1);
        color: rgb(255, 0, 212);
        background: white;
        transition: .3s;
    }
    .ctn i{
        margin-right: 10px;
    }
    .destacado .brotato-social{
        position: relative;
        z-index: 2;
        margin-top: 75px;
        padding-bottom: 40px;
    }
    .destacado .brotato-social a{
        display: inline-block;
        color: #d100c0;
        margin-right: 42px;
        font-size: 25px;
    }
    .destacado .brotato-social a:hover{
        transform: scale(1.2);
        color: #ff00ea;
    }
    .imagen-brotato{
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        right: 0;
        text-align: right;
        margin-right: 30px;
        margin-bottom: 80px;
        padding: auto;
        border: none;
    }
    .imagen-brotato img{
        height: 100%;
    }
    .container-cards{
        background-color: #080808;
        width: 100%;
        max-width: 1400px;
        margin: 0px 210px;
        border-radius: 1px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .texto-5{
        padding: 15px 15px;
        margin-bottom: 25px;
    }
    .texto-5 h2{
        text-align: center;
        font-size: 35px;
        margin-top: 40px;
        margin-bottom: 20px;
        color: silver;
        font-weight: 400;
    }
    .texto-5 span{
        color: #d100c0;
    }
    .texto-5 h4{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 300;
    }

    .container-cards .cards{
        width: 300px;
        margin: 20px;
        border-radius: 6px;
        border: 3px solid white;
        overflow: hidden;
        background: white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0,0.2);
        cursor: default;
        text-align: center;
        transition: all .4s ease;
    }
    .cards:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 12px rgba(255, 0, 242, 0.4);
    }
    .cards img{
        width: 100%;
        height: 280px;
        margin-bottom: 15px;
    }
    .contenido h3{
        color: #d10069;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .containerGeneral{
        background-color: #181818;
        
    }
    .contenido p{
        color: rgb(0, 0, 0);
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 7px;
        padding: 3px;
        line-height: 1.5;
    }
    .contenido a{
        text-decoration: none;
        color: #99024d;
        display: inline-block;
        padding: 5px;
        border: 2px solid #99024d;
        margin: 5px 5px;
        border-radius: 4px;
        transition: all .4s ease;
    }
    .contenido a:hover{
        background: #99024d;
        color: white;
    }
    .best-sellers{
        color: white;
        padding: 15px;
        margin: 15px;
        text-align: center;
        font-size: 30px;
    }
    .best-sellers span{
        color: #d100c0;
    }

    .roguelikes h2{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 23px;
        padding: 20px;
    }
    .cards-rogue{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .cards-rogue img{
        height: 200px;
        width: 200px;
        margin: 20px;
        padding: 0;
        border-radius: 6px;
        transition: .3s ease;
    }
    .cards-rogue img:hover{
        transform: scale(1.1);
    }
    .adventure h2{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 23px;
        padding: 20px;
    }
    .cards-adventure{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .cards-adventure img{
        height: 200px;
        width: 200px;
        margin: 20px;
        padding: 0;
        border-radius: 6px;
        transition: .3s ease;
    }
    .cards-adventure img:hover{
        transform: scale(1.1);
    }

    .main-tienda{
        margin-top: 60px;
        margin-bottom: 100px;
        margin-right: 40px;
    }

    .galeria-1{
        display: flex;
        width: 635px;
        height: 430px;
    }
    .galeria-1 img{
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: all .5s;
    }

    .galeria-1 img:hover{
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
    .contenedor-galeria{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .cards-f2p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .cards-f2p img{
        height: 200px;
        width: 200px;
        margin: 20px;
        padding: 0;
        border-radius: 6px;
        transition: .3s ease;
    }
    .cards-f2p img:hover{
        transform: scale(1.1);
    }
    .Free-to-play h2{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 23px;
        padding: 20px;
    }
    .games-list{
        background-color: rgb(5, 5, 5);
        padding-right: 30px;
    }

    .featured a img{
        height: 150px;
        width: 150px;
        margin: 6px;
        padding: 0;
    }
    .featured{
        margin-top: 30px;
        display: flex;
        align-content: center;
        justify-content: center; 
    }
    .btn-menu label{
        text-decoration: none;
        color: white;
        line-height: 70px;
        scale: 2;
    }
    #btn-menu{
        display: none;
    }
    .container-menu{
        position: absolute;
        background: rgba(0, 0, 0,0.5);
        width: 100%;
        height: 400%;
        top: 0; left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        z-index: 111;
    }
    #btn-menu:checked ~ .container-menu{
        opacity: 1;
        visibility: visible;
    }

    .cont-menu{
        width: 100%;
        max-width: 200px;
        background: #ac0295;
        height: 400vh;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateX(0%);
    }
    .cont-menu nav{
        transform: translateY(15%);
    }
    .cont-menu label{
        position: absolute;
        right: 5px;
        top: 10px;
        color: white;
        font-size: 18px;
    }
    .cont-menu nav a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 30px;
        border-left: 5px solid transparent;
        transition: all 500ms ease;
    }
    .cont-menu nav a:hover{
        border-left: 5px solid white;
        background: #99024d;
    }



    .btn-menu-2 label{
        text-decoration: none;
        color: white;
        line-height: 70px;
        scale: 2;
    }
    #btn-menu-2{
        display: none;
    }
    .container-menu-2{
        position: absolute;
        background: rgba(0, 0, 0,0.5);
        width: 100%;
        height: 400%;
        top: 0; left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        z-index: 111;
    }
    #btn-menu-2:checked ~ .container-menu-2{
        opacity: 1;
        visibility: visible;
    }

    .cont-menu-2{
        width: 100%;
        max-width: 200px;
        background: #ac0295;
        height: 400vh;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }
    #btn-menu-2:checked ~ .container-menu-2 .cont-menu-2{
        transform: translateX(0%);
    }
    .cont-menu-2 nav{
        transform: translateY(15%);
    }
    .cont-menu-2 label{
        position: absolute;
        right: 5px;
        top: 10px;
        color: white;
        font-size: 18px;
    }
    .cont-menu-2 nav a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 30px;
        border-left: 5px solid transparent;
        transition: all 500ms ease;
    }
    .cont-menu-2 nav a:hover{
        border-left: 5px solid white;
        background: #99024d;
    }





    .btn-menu-3 label{
        text-decoration: none;
        color: white;
        line-height: 70px;
        scale: 2;
    }
    #btn-menu-3{
        display: none;
    }
    .container-menu-3{
        position: absolute;
        background: rgba(0, 0, 0,0.5);
        width: 100%;
        height: 400%;
        top: 0; left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        z-index: 111;
    }
    #btn-menu-3:checked ~ .container-menu-3{
        opacity: 1;
        visibility: visible;
    }

    .cont-menu-3{
        width: 100%;
        max-width: 200px;
        background: #ac0295;
        height: 400vh;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }
    #btn-menu-3:checked ~ .container-menu-3 .cont-menu-3{
        transform: translateX(0%);
    }
    .cont-menu-3 nav{
        transform: translateY(15%);
    }
    .cont-menu-3 label{
        position: absolute;
        right: 5px;
        top: 10px;
        color: white;
        font-size: 18px;
    }
    .cont-menu-3 nav a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 30px;
        border-left: 5px solid transparent;
        transition: all 500ms ease;
    }
    .cont-menu-3 nav a:hover{
        border-left: 5px solid white;
        background: #99024d;
    }


@media (max-width:1920px){
    .container-menu{ 
        display: none;
    }
    .btn-menu{ 
        display: none;
    }
    .container-menu-2{ 
        display: none;
    }
    .btn-menu-2{ 
        display: none;
    }
    .container-menu-3{ 
        display: none;
    }
    .btn-menu-3{ 
        display: none;
    }
}
@media (max-width:1280px){
    .container-cards{
        margin-left: 0px;
    }
    .container-cards .cards{
        margin-left: 0%;
        width: 242px;
        margin: 5px;
    }
}
@media (max-width:1024px){
    .container-cards{
        margin-left: 0px;
    }
    .container-cards .cards{
        margin-left: 0%;
        width: 242px;
        margin: 5px;
    }
}
@media (max-width:830px){ 
    .containerGeneral{ 
        width: 1170px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .imagen-contacto{
        display: none;
    }
    .contacto{
        scale: 1.1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 135px;
        padding: 0;
    }
    .container-menu{ 
        display: none;
    }
    .btn-menu{ 
        display: none;
    }
    .container-menu-3{ 
        display: none;
    }
    .btn-menu-3{ 
        display: none;
    }
    #INFO{
        width: 1170px;
    }
    .container-cards{
        margin-left: 0px;
    }
    .container-cards .cards{
        margin-left: 0%;
        width: 242px;
        margin: 5px;
    }
    #header-principal{
        width: 1170px;
    }
    .imagen-brotato img{ 
        width: 700px;
        height: 700px;
        margin-left: 500px;
    }
    .destacado{ 
        padding-left: 30px;
        padding-right: 30px;
    }
    #header{ 
        width: 1100px;
    }
    .main-tienda{
        padding-left: 300px;
    }
    
    .games-list{
        margin-left: 0px;
        width: 1110px;
    }
}

@media (max-width:768px){ 
    .container-cards{
        margin: 0px;
    }
    .container-cards .cards{
        margin-left: 0%;
        width: 220px;
        margin-left: 0;
    }
    .containerGeneral{ 
        width: 1130px;
    }
    #INFO .grupo-1 .box .red-social{ 
        margin-right: 20px;
    }
    #header-principal{
        width: 1130px;
    }
    #INFO{
        width: 1130px;
    }
    .destacado{ 
        padding-left: 30px;
        padding-right: 30px;
    }
    .imagen-brotato img{ 
        margin-left: 420px;
    }
}



@media (max-width:420px){
    #header-principal{
        width: 410px;
    }
    .container-menu-3{ 
        display: flex;
        height: fit-content;
    }
    .btn-menu-3{ 
        display: flex;
    }
    .cont-menu-3{ 
        height: 120vh;
    }
    .container-menu-2{ 
        display: flex;
        height: fit-content;
    }
    .btn-menu-2{ 
        display: flex;
    }
    .cont-menu-2{ 
        height: 480vh;
    }
    .imagen-contacto{
        display: none;
    }
    .cont-menu{
        height: 490vh;
    }
    .contacto{
        padding: 0px 0px 0px 10px;
        height: 100%;
        margin-left: 0px;
        scale: 0.9;
    }
    .container-menu{ 
        display: flex;
        height: 485%;
    }
    .btn-menu{ 
        display: flex;
    }
    .games-list{
        width: 420px;
        padding: 0px;
    }
    .contenedor-galeria{
        margin-left: 20px;
    }
    .best-sellers{
        margin-left: 20px;
    }
    #header{ 
        width: 420px;
    }
    .containerGeneral{ 
        width: 410px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .containerGeneral .texto-5{ 
        padding: 0;
    }
    .imagen-brotato img{
        display: none;
    }
    .lista{
        display: none;
    }
    .logo img{
        margin-left: 130px;
    }
    .button button{
        width: 70px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .button{
        text-decoration: none;
        margin-left: 70px;
    }
    .destacado{ 
        margin-left: 123px;
    }
    .destacado .main-text h2{
        padding-bottom: 15px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .destacado .main-text h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .destacado .main-text h3{
        font-size: 65px;
        margin-bottom: 12px;
    }
    .destacado .main-text p{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin-bottom: 12px;
        margin-top: 50px;
    }
    .destacado .main-text a{
        margin-left: 10px;
        margin-top: 30px;
    }
    .destacado .brotato-social{
        scale: 0.7;
        padding-bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        
    }
    .main-text{
        width: 390px;
        right: 70px;
        margin-bottom: 0;
        padding-right: 45px;
    }
    .destacado{
        margin: 0%;
        padding: 90px;
        width: 390px;
        right: 70px;
    }
    
    .container-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 420px;
        margin: -8px;
        place-items: center;
    }
    .cards{
        display: flex;
        justify-content: center;
        width: 420px;
        height: 400px;
    }
    #INFO{ 
        width: 410px;
    }
    #INFO .grupo-1 .box a img{ 
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }
    #INFO .grupo-1 .box h2{ 
        font-size: 20px;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    #INFO .grupo-1 .box p{ 
        font-size: 13px;
        width: 100px;
        margin-bottom: 0px;
        padding-right: 15px;
    }
    #INFO .grupo-1{ 
        padding-top: 20px;
    }
    .grupo-2{ 
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #INFO .grupo-1 .box .red-social a{ 
        margin-top: 3px;
        margin-left: 0;
        margin-right: 0px;
    }
    #INFO .grupo-1 .box .red-social{ 
        margin-right: 15px;
    }
    .contenedor-galeria{
        scale: 0.9;
    }
    .featured-games{
        display: none;
    }
    .cards-rogue{
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                150px
            )
        );
        gap: 16px;
        scale: 0,7;
    }
    .cards-f2p{
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                150px
            )
        );
        gap: 16px;
        scale: 0,7;
    }
    .cards-adventure{
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                150px
            )
        );
        gap: 16px;
        scale: 0,7;
    }
    .games-list h2{
        background-color: #b900aa;
        
    }
    .main-tienda{
        margin-right: 10px;
        padding-left: 10px;
        
    }
    .contenido p{ 
        display: none;
    }
}
@media (max-width:400px){
    .cont-menu{
        height: 520vh;
    }
    .container-menu{ 
        display: flex;
        height: 510vh;
        width: 410px;
    }
    .container-menu-2{ 
        display: flex;
        height: fit-content;
        width: 50vh;
        
    }
    .cont-menu-2{ 
        height: 510vh;
    }
    .container-menu-3{ 
        display: flex;
        height: fit-content;
        width: 49vh;
    }
}

@media (max-width:375px){ 
    .container-cards{
        margin: 0px;
    }
    .container-cards .cards{
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }
    .containerGeneral{ 
        width: 420px;
    }
    #INFO .grupo-1 .box .red-social{ 
        margin-right: 20px;
    }
    .container-menu-3{ 
        display: flex;
        height: fit-content;
        width: 62vh;
    }
    .cont-menu{
        height: 660vh;
    }
    .container-menu{ 
        display: flex;
        height: 660vh;
        width: 420px;
    }
    #INFO{
        width: 420px;
    }
    #header{
        width: 420px;
    }
    #header-principal{
        width: 420px;
    }
    .main-text{
        padding-right: 0px;
    }
    .container-menu-2{ 
        display: flex;
        height: fit-content;
        width: 63vh;
        
    }
    .cont-menu-2{ 
        height: 645vh;
    }
}
    @media (max-width:360px){ 
        .cont-menu{
            height: 593vh;
        }
        .container-menu{ 
            display: flex;
            height: 593vh;
            width: 420px;
        }
        .container-menu-2{ 
            display: flex;
            height: fit-content;
            width: 57vh;
            
        }
        .cont-menu-2{ 
            height: 583vh;
        }
        .main-tienda{
            padding-left: 60px;
        }
        
}
    @media (max-width:280px){ 
        .cont-menu{
            height: 672vh;
        }
        .container-menu{ 
            display: flex;
            height: 672vh;
            width: 420px;
        }
        .container-menu-2{ 
            display: flex;
            height: fit-content;
            width: 65vh;
        }
        .cont-menu-3{
            height: 152vh;
        }
        .container-menu-3{ 
            display: flex;
            height: fit-content;
            width: 65vh;
        }
        .cont-menu-2{ 
            height: 560vh;
        }
        .main-tienda{
            display: none;
        }
        .contacto{
            margin: 60px;
        }
}