@use "variables";
@use "signup";
@use "headers";
@use "login";
@use "btnmenus";
@use "contacto";
@use "tienda";
@use "index";
@use "mediaq";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box
    
}